body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}
/**/
.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #0a97b0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
    margin-top: 1px; 
    margin-bottom: 20px; 
    text-align: center; 
}

p {
    font-size: 1.2em; 
    line-height: 1.5; 
    margin-bottom: 1em; 
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .header_section {
  margin-top: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header_section .header_top {
  padding: 12px 0;
  background-color: #04233b;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_section .header_top .contact_nav a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.header_section .header_top .contact_nav a i {
  margin-right: 12px;
  border-radius: 100%;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0a97b0;
}

.header_section .header_top .contact_nav a:hover i {
  color: #04233b;
}

.header_section .header_bottom {
  background-color: #ffffff;
  padding: 15px 0;
}

.header_section .header_bottom .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #0a97b0;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #000000;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}
/**/

.header-content h1 {
    font-family: 'Merriweather', Arial, sans-serif;
    font-size: 2.25em;
    font-weight: 530;
    margin: 0;
    position: relative;
    top: 6px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1); 
}

.site-logo img {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

nav ul {
    list-style-type: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    background: #555;
    margin: 1;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    background: #fff;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery {
    text-align: center; 
}

#gallery h2 {
    margin-bottom: 20px; 
    font-size: 2em; 
    color: #333;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 80%;
    animation-duration: 0.3s;
}

.indicator {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #f1f1f1;
    font-size: 20px;
}

#caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #f1f1f1;
    font-size: 16px;
    text-align: center;
}

.modal-content.fade-in {
    opacity: 1;
}

.modal-content.fade-out {
    opacity: 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001; 
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
	padding: 20px 10px;
}

.logo {
    width: 100px;
    height: auto;
}

.video {
    text-align: center;
    margin: 2em 0;
}

.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 1200px) {
    body {
        zoom: 70%; 
    }
}


nav ul {
    display: flex;
    justify-content: center;
    background: #555;
}

nav ul li {
    margin: 0 6px;
}

nav ul li a {
    padding: 12px;
	font-size: 19px;
}

nav ul li a:hover {
    background-color: rgba(243, 156, 18, 0.7);
    color: #fff;
    border-radius: 2px;
}

nav ul li.active a {
    background-color: #f39c12;
    color: #fff;
    border-radius: 2px;
}

.header_top {
    background: #444;
    padding: 10px 0;
}

.contact_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.contact_nav a i {
    margin-right: 5px;
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a97b0;
}

.contact_nav a:hover i {
    color: #04233b;
}

/* Keyframes for sliding left and right */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}


.modal-content.slide-in-right {
    animation: slideInFromRight 0.35s forwards;
}

.modal-content.slide-out-left {
    animation: slideOutToLeft 0.35s forwards;
}

.modal-content.slide-in-left {
    animation: slideInFromLeft 0.35s forwards;
}

.modal-content.slide-out-right {
    animation: slideOutToRight 0.35s forwards;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.social-media li {
    display: inline;
}

.social-media a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.social-media i {
    margin-right: 8px;
    font-size: 1.5em;
    color: #E1306C; /* Instagram's primary color */
}

.product-image {
    text-align: center;
    margin: 20px 0;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.gallery-heading {
	display: block;
    margin-bottom: 20px;
}

.gallery-images {
    margin-top: 20px; /* Adjust the value as needed */
}

#instructions {
    max-width: 800px; /* Set a max width to control the width of the section */
    margin: 0 auto; /* Center the section horizontally within the page */
    text-align: center; /* Center the text and button inside the section */
    padding: 20px; /* Optional: Add padding for better spacing */
}

.pdf-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pdf-button:hover {
    background-color: #555;
}

/* Style for main navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
    display: flex;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul.sub-menu li a:hover {
    background-color: white !important;  /* Change this to your desired background color */
    color: #444 !important;  /* Change this to the original background color */
}


/* Change background on hover */
nav ul li a:hover {
    background: #ff9800;
}

/* Dropdown styles */
.sub-menu {
    display: none;
    position: absolute;
    background: #000; /* Black background */
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.sub-menu li {
    display: block;
}

/* Default dropdown item style */
.sub-menu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background: #000; /* Black background */
}

/* Highlight dropdown item on hover */
.sub-menu li a:hover {
    background: #ff9800; /* Orange highlight */
    color: white;
}

/* Show dropdown on hover */
.dropdown:hover .sub-menu {
    display: block;
}

.installation-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%; /* Ensure the container takes full width */
}

.installation-gallery img {
    width: 100%; /* Take full width of the screen */
    max-width: 1600px; /* Prevent images from getting too large */
    height: auto;
    object-fit: cover; /* Ensures the image fills the space while maintaining aspect ratio */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

}

